
@{
    ViewData["Title"] = "Index";
}

<h1>Clique no link para ir para tela de criação de aluno</h1>

<ul>
    <li><a class="nav-link text-dark" asp-area="" asp-controller="Aluno" asp-action="NovoAluno">Criar aluno</a></li>
</ul>