@model IEnumerable<SistemaAcademico.APP.Entities.Aluno>
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-lg-6  mt-3">
        <ul class="nav justify-content-center">
            <li class="nav-item mx-2">
                <a asp-area="" asp-controller="Aluno" asp-action="NovoAluno" class="nav-link text-dark bg--orange text--purple font-weight-bold">CADASTRO</a>
            </li>
        </ul>
        <img src="~/assets/student.jpg" class="img-fluid" alt="student" />
    </div>
    <div class="col-lg-6  mt-3">
        @await Html.PartialAsync("_ListaDeAlunos.cshtml", Model)
    </div>
</div>

<link href="~/css/aluno.css" rel="stylesheet" />