@model IEnumerable<SistemaAcademico.APP.Entities.Professor>
@{
    ViewData["Title"] = "Index";
}

<div class="row" style="background-color: #fdf1e5">
    <div class="col-lg-6  mt-3">
        <ul class="nav justify-content-center">
            <li class="nav-item mx-2 blackboard">
                <a asp-area="" asp-controller="Professor" asp-action="NovoProfessor" class="nav-link text-white-50 font-weight-bold">MATRICULAR</a>
            </li>
        </ul>
        <img src="~/assets/teacher.jpg" class="img-fluid" alt="teacher" />
    </div>
    <div class="col-lg-6  mt-3">
        @await Html.PartialAsync("_ListaDeProfessores.cshtml", Model)
    </div>
</div>

<link href="~/css/professor.css" rel="stylesheet" />