@model IEnumerable<SistemaAcademico.APP.Entities.Disciplina>
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-lg-6  mt-3">
        <ul class="nav justify-content-center">
            <li class="nav-item mx-2">
                <a asp-area="" asp-controller="Disciplina" asp-action="NovaDisciplina" class="nav-link bg--lightblue text-white font-weight-bold">CADASTRO</a>
            </li>
        </ul>
        <img src="~/assets/course.jpg" class="img-fluid" alt="course" />
    </div>
    <div class="col-lg-6  mt-3">
        @await Html.PartialAsync("_ListaDeDisciplinas.cshtml", Model)
    </div>
</div>

<link href="~/css/disciplina.css" rel="stylesheet" />