
@{
    ViewData["Title"] = "Index";
}

<h1>Clique no link para ir para tela de criação de disciplina</h1>

<ul>
    <li><a class="nav-link text-dark" asp-area="" asp-controller="Disciplina" asp-action="NovaDisciplina">Criar disciplina</a></li>
</ul>